<header>
    <div class="logo">
        <img src="https://static.wikia.nocookie.net/warframe/images/e/e6/Site-logo.png" alt="" srcset="">
    </div>
    <div>
        <WorldStatus />
    </div>
    <div class="misc">
        <div class="nightwave">
            <div class="img">
                <img src="https://static.wikia.nocookie.net/warframe/images/8/80/NightwaveEmblem.png/" alt="">
            </div>
            <div class="text">
                <span>Ending in:</span>
                <span>idk</span>
            </div>
        </div>
    </div>
</header>