.page {
    height: 100vh;
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: #1a1c23;
}

main {
    flex: 1;
    gap: 10px;
    display: flex;
    padding: 10px;
    flex-direction: row;
}

