@page "/"

<PageTitle>Home</PageTitle>

<section class="cont">
    <WorldStatus />
    <Fissures />
</section>

<section class="cont_2">
    <ArchonHunt />
    <Invasions />
</section>

<section>
    <Sortie />
    <VoidTrader />
</section>