@page "/"

<PageTitle>Home</PageTitle>

<section class="cont">
    <WorldStatus />
    <Fissures />
    <Invasions />
</section>

<section class="cont_2">
    <VoidTrader />
    <ArchonHunt />
    <Sortie />
</section>