.trader {
    width: 500px;
    height: fit-content;
    padding: 3px;
    border: 1px solid #2a2a3c;
    background-color: #1d1d2a;
    border-radius: 6px;

    .baro {
        width: 100%;
        height: 130px;
        display: flex;
        flex-direction: row;

         & > div:first-child {
            height: 100%;
            aspect-ratio: 1/1;

            & > img {
                width: 100%;
                height: 100%;
                border-radius: 3px;
                object-fit: scale-down;
                border: 1px solid #2a2a3c;
            }
         }

        & > .info {
            width: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;

            & > span:first-child {
                color: white;
                font-size: 2rem;
                line-height: 1;
                font-family: "Bebas Neue", serif;
            }

            & > span:last-child {
                color: white;
                line-height: 1;
                font-size: 1.4rem;
            }
        }
    }
}